# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    # List of items that should not be displayed in the item list. Format: modId[:name[:meta]]. Edit Mode will automatically add or remove entries here. [Default: []]
    S:itemBlacklist <
        tconstruct:hammer
        tp:StoneTorch
        harvestcraft:pambambooshootCrop
        randomthings:fertilizedDirt
        chisel:blockInvar:6
        tconstruct:tooltables:1:chisel:planks-spruce:10
        chisel:blockInvar:5
        tconstruct:tooltables:1:chisel:planks-spruce:11
        tconstruct:tooltables:1:chisel:planks-spruce:12
        tconstruct:tooltables:1:chisel:planks-spruce:13
        tconstruct:battlesign
        chisel:blockInvar:2
        tconstruct:tooltables:1:chisel:planks-spruce:14
        tconstruct:frypan
        chisel:blockInvar:1
        chisel:blockInvar:4
        chisel:blockInvar:3
        actuallyadditions:itemMisc:11
        actuallyadditions:itemMisc:10
        harvestcraft:redvelvetcake
        tconstruct:bow_limb:0:bronze
        harvestcraft:pamblackberryCrop
        harvestcraft:pamriceCrop
        harvestcraft:pamonionCrop
        refinedstorage:fluid_storage_disk:4
        tconstruct:longbow
        harvestcraft:pamscallionCrop
        tconstruct:shuriken
        shearmadness:invisibleBookshelf
        darkutils:sneaky_bedrock
        harvestcraft:pamwhitemushroomCrop
        harvestcraft:pamrhubarbCrop
        extrautils2:CreativeEnergy
        notenoughwands:master_protection_wand
        shearmadness:invisibleGlowstone
        tconstruct:tough_tool_rod:0:bronze
        hatchery:rf_capacity
        zerocore:debugTool
        rscircuits:redwire:13
        rscircuits:redwire:12
        rscircuits:redwire:15
        rscircuits:redwire:14
        tconstruct:tooltables:2:harvestcraft:pamPaperbark:0
        tconstruct:tooltables:1:chisel:planks-jungle:8
        roots:spiritBlockSlab
        tconstruct:tooltables:1:chisel:planks-jungle:9
        rscircuits:redwire:11
        tconstruct:tooltables:1:chisel:planks-jungle:6
        rscircuits:redwire:10
        tconstruct:tooltables:1:chisel:planks-jungle:7
        rscircuits:redwire:17
        draconicevolution:creative_exchanger
        rscircuits:redwire:16
        tconstruct:tooltables:2:harvestcraft:pamMaple:0
        roots:runeStoneTileSlab
        tconstruct:tooltables:1:chisel:planks-jungle:4
        tconstruct:tooltables:1:chisel:planks-jungle:5
        tconstruct:tooltables:1:chisel:planks-jungle:2
        tconstruct:tooltables:1:chisel:planks-jungle:3
        tconstruct:tooltables:1:chisel:planks-jungle:0
        tconstruct:tooltables:1:chisel:planks-jungle:1
        randomthings:spectreCore
        mysticalagriculture:superium_furnace_active
        tconstruct:tough_binding:0:bronze
        harvestcraft:pambeetCrop
        tconstruct:pan_head:0:bronze
        hatchery:feather_fiber
        refinedstorage:controller:1
        harvestcraft:chocolatesprinklecake
        harvestcraft:pamApple
        ceramics:clay_bucket:tin;m=0
        tconstruct:tooltables:1:chisel:planks-acacia:1
        tconstruct:tooltables:1:chisel:planks-dark-oak:0
        tconstruct:tooltables:1:chisel:planks-acacia:2
        tconstruct:tooltables:1:chisel:planks-acacia:0
        harvestcraft:pamartichokeCrop
        tconstruct:tooltables:1:chisel:planks-acacia:5
        tconstruct:tooltables:1:chisel:planks-acacia:6
        tconstruct:tooltables:1:chisel:planks-acacia:3
        tconstruct:tooltables:1:chisel:planks-acacia:4
        tconstruct:sharpening_kit:0:bronze
        tconstruct:excavator
        harvestcraft:pamokraCrop
        tconstruct:lumberaxe
        harvestcraft:pamrutabagaCrop
        harvestcraft:pamparsnipCrop
        bigreactors:turbineCreativeSteamGenerator:0
        rftools:notick_invisible_shield_block
        tconstruct:cross_guard:0:bronze
        ropebridge:bridge_block_2
        ropebridge:bridge_block_1
        ropebridge:bridge_block_4
        ropebridge:bridge_block_3
        simplyjetpacks:itemJetpack:1
        tconstruct:tooltables:1:chisel:planks-dark-oak:7
        simplyjetpacks:itemJetpack:0
        extrautils2:itembuilderswand
        tconstruct:tooltables:1:chisel:planks-dark-oak:8
        tconstruct:tooltables:1:chisel:planks-dark-oak:5
        tconstruct:tooltables:1:chisel:planks-dark-oak:6
        extrautils2:teleporter:1
        tconstruct:tooltables:1:chisel:planks-dark-oak:3
        tconstruct:tooltables:1:chisel:planks-dark-oak:4
        tconstruct:tooltables:2:natura:nether_logs2:0
        tconstruct:tooltables:1:chisel:planks-dark-oak:1
        tconstruct:tooltables:1:chisel:planks-dark-oak:2
        extrautils2:teleporter:0
        tconstruct:tooltables:1:chisel:planks-dark-oak:9
        randomthings:fertilizedDirtTilled
        harvestcraft:pamcoffeebeanCrop
        minecraft:repeating_command_block
        tconstruct:tooltables:1:roots:plankWildwood:0
        harvestcraft:pamsoybeanCrop
        simplyjetpacks:metaItem:6
        simplyjetpacks:metaItem:5
        simplyjetpacks:metaItem:4
        harvestcraft:pambellpepperCrop
        excompressum:iron_mesh
        harvestcraft:pambeanCrop
        harvestcraft:pamcabbageCrop
        charsetlib:icon
        headcrumbs:skull:0
        extrautils2:itemcreativedestructionwand
        roots:spiritBrickSlab
        harvestcraft:pamleekCrop
        harvestcraft:pamlettuceCrop
        harvestcraft:pambrusselsproutCrop
        harvestcraft:pampeasCrop
        tconstruct:arrow
        simplyjetpacks:itemFluxpack:0
        harvestcraft:pamkiwiCrop
        tconstruct:crossbow
        enderio:blockCapBank:0
        harvestcraft:pamryeCrop
        harvestcraft:pamchilipepperCrop
        tconstruct:tooltables:1:chisel:planks-dark-oak:11
        tconstruct:tooltables:1:chisel:planks-dark-oak:10
        tconstruct:tooltables:1:chisel:planks-dark-oak:13
        tconstruct:tooltables:1:chisel:planks-dark-oak:12
        tconstruct:tooltables:1:chisel:planks-dark-oak:14
        minecraft:barrier
        botania:pool:1
        tconstruct:hammer_head:0:bronze
        harvestcraft:carrotcake
        refinedstorage:wireless_crafting_monitor:1
        harvestcraft:pamcurryleafCrop
        tconstruct:broadsword
        tconstruct:tooltables:2:roots:logWildwood:0
        rscircuits:redwire:9
        rscircuits:redwire:8
        rscircuits:redwire:7
        rscircuits:redwire:6
        rscircuits:redwire:5
        tp:UnfiredClayBucket
        rscircuits:redwire:4
        rscircuits:redwire:3
        tconstruct:tooltables:1:randomthings:spectrePlank:0
        tconstruct:cleaver
        extrautils2:CreativeChest
        actuallyadditions:blockMisc:5
        bloodmagic:ItemActivationCrystal:2
        harvestcraft:pameggplantCrop
        immersiveengineering:metalDevice0:3
        chisel:blockBronze:0
        chancecubes:creative_Pendant
        chisel:blockBronze:1
        chisel:blockBronze:2
        chisel:blockBronze:3
        tconstruct:tooltables:2:natura:overworld_logs:3
        tconstruct:tooltables:2:harvestcraft:pamCinnamon:0
        chisel:blockBronze:4
        tconstruct:tooltables:2:natura:overworld_logs2:0
        chisel:blockBronze:5
        tconstruct:tooltables:2:natura:overworld_logs:1
        chisel:blockBronze:6
        tconstruct:tooltables:2:natura:overworld_logs:2
        chesttransporter:chesttransporter_tin
        tconstruct:shovel
        rscircuits:punchcard
        tconstruct:tooltables:2:natura:overworld_logs2:3
        tconstruct:tooltables:2:natura:overworld_logs:0
        tconstruct:tooltables:2:natura:overworld_logs2:1
        tconstruct:tooltables:2:natura:overworld_logs2:2
        tconstruct:shovel_head:0:bronze
        randomthings:spectreSword
        tconstruct:hand_guard:0:bronze
        harvestcraft:pamgarlicCrop
        tconstruct:tooltables:1:chisel:planks-acacia:14
        extrautils2:creativeenergy
        tconstruct:tooltables:1:chisel:planks-acacia:12
        tconstruct:tooltables:1:chisel:planks-acacia:13
        zerocore:debugtool
        tconstruct:tooltables:1:chisel:planks-acacia:10
        tconstruct:tooltables:1:chisel:planks-acacia:11
        darkutils:disabled
        harvestcraft:pamspinachCrop
        rscircuits:redwire:2
        mysticalagriculture:ultimate_furnace_active
        rscircuits:redwire:1
        bigreactors:turbinecreativesteamgenerator:0
        refinedstorage:storage_disk:4
        tconstruct:tooltables:2:integrateddynamics:menrilLog:0
        hatchery:plastic
        roots:runeStoneSlab
        harvestcraft:pamseaweedCrop
        tconstruct:tooltables:2:minecraft:log:1
        tconstruct:tooltables:2:minecraft:log:2
        tconstruct:tooltables:2:minecraft:log:3
        extrautils2:itemcreativebuilderswand
        tconstruct:bolt
        refinedstorage:fluid_storage:4
        tconstruct:rapier
        mob_grinding_utils:null_sword
        extrautils2:creativeharvest
        harvestcraft:pamcactusfruitCrop
        draconicevolution:creative_rf_source
        extrautils2:Drum:4
        mysticalagriculture:inferium_furnace_active
        extrautils2:spike_creative
        rftools:solid_shield_block
        extrautils2:Teleporter:1
        refinedstorage:storage:4
        actuallyadditions:itemSolidifiedExperience
        stevescarts:upgrade:14
        psi:cadAssembly:5
        harvestcraft:pamsesameseedsCrop
        extrautils2:Teleporter:0
        randomthings:ingredient:3
        minecraft:chain_command_block
        harvestcraft:pamtealeafCrop
        minecraft:structure_void
        tconstruct:materials:50
        harvestcraft:pamcucumberCrop
        tconstruct:sword_blade:0:bronze
        harvestcraft:pamcornCrop
        randomthings:spectreAnchor
        tconstruct:scythe
        ceramics:clay_bucket:bronze;m=0
        harvestcraft:pamtomatoCrop
        actuallyadditions:blockXPSolidifier
        storagedrawers:upgradeCreative:0
        storagedrawers:upgradeCreative:1
        harvestcraft:pavlovacake
        mysticalagriculture:intermedium_furnace_active
        mysticalagriculture:supremium_furnace_active
        harvestcraft:pamcottonCrop
        stevescarts:CartModule:61
        excompressum:double_compressed_diamond_hammer
        tconstruct:hatchet
        tp:BirthdayPickaxe
        harvestcraft:pampeanutCrop
        harvestcraft:pamsweetpotatoCrop
        rftools:camo_shield_block
        tconstruct:mattock
        stevescarts:CartModule:72
        minecraft:structure_block
        stevescarts:CartModule:76
        tconstruct:large_sword_blade:0:bronze
        tconstruct:tool_rod:0:bronze
        extrautils2:drum:4
        opencomputers:tool:1
        tconstruct:molten_bronze:0
        harvestcraft:pampineappleCrop
        harvestcraft:pamstrawberryCrop
        tconstruct:sign_head:0:bronze
        baubles:Ring:0
        tp:LavaClayBucket:empty;
        bigreactors:reactorCreativeCoolantPort:0
        tconstruct:tooltables:1:natura:overworld_planks:8
        tconstruct:tooltables:1:chisel:planks-spruce:7
        tconstruct:tooltables:1:chisel:planks-spruce:8
        opencomputers:caseCreative:0
        tconstruct:tooltables:1:chisel:planks-spruce:5
        tconstruct:tooltables:1:chisel:planks-spruce:6
        tconstruct:tooltables:1:chisel:planks-spruce:3
        harvestcraft:cherrycheesecake
        tconstruct:tooltables:1:chisel:planks-spruce:4
        tconstruct:tooltables:1:chisel:planks-spruce:1
        tconstruct:tooltables:1:chisel:planks-spruce:2
        tconstruct:tooltables:1:natura:overworld_planks:0
        tconstruct:tooltables:1:natura:overworld_planks:1
        tconstruct:tooltables:1:natura:overworld_planks:2
        harvestcraft:lamingtoncake
        tconstruct:tooltables:1:natura:overworld_planks:3
        tconstruct:tooltables:1:natura:overworld_planks:4
        tconstruct:tooltables:1:natura:overworld_planks:5
        harvestcraft:pamcandleberryCrop
        tconstruct:tooltables:1:natura:overworld_planks:6
        tconstruct:tooltables:1:chisel:planks-spruce:9
        tconstruct:tooltables:1:natura:overworld_planks:7
        integrateddynamics:creativeEnergyBattery
        harvestcraft:pamcantaloupeCrop
        harvestcraft:pamwintersquashCrop
        tconstruct:tooltables:1:chisel:planks-birch:12
        tconstruct:tooltables:1:chisel:planks-birch:13
        tconstruct:tooltables:1:chisel:planks-spruce:0
        tconstruct:tooltables:1:chisel:planks-birch:10
        tconstruct:tooltables:1:chisel:planks-birch:11
        stevescarts:CartModule:97
        stevescarts:CartModule:96
        tconstruct:tooltables:1:chisel:planks-birch:14
        tconstruct:tooltables:1:minecraft:planks:5
        tp:EmptyWoodenBucket
        harvestcraft:pamraspberryCrop
        tconstruct:pick_head:0:bronze
        tconstruct:tooltables:1:minecraft:planks:1
        tconstruct:tooltables:1:minecraft:planks:2
        tconstruct:tooltables:1:minecraft:planks:3
        tconstruct:tooltables:1:minecraft:planks:4
        tconstruct:tooltables:2:randomthings:spectreLog:0
        harvestcraft:pamspiceleafCrop
        harvestcraft:pamceleryCrop
        tconstruct:shortbow
        roots:runeStoneBrickSlab
        harvestcraft:pamzucchiniCrop
        extrautils2:passivegenerator:6
        draconicevolution:chaos_crystal
        tconstruct:tooltables:1:chisel:planks-birch:0
        randomthings:spectreBlock
        harvestcraft:pamcauliflowerCrop
        tconstruct:tooltables:2:minecraft:log2:1
        tconstruct:molten_tin:0
        hatchery:pen_chicken
        shearmadness:invisibleRedstone
        harvestcraft:pamcranberryCrop
        tconstruct:tooltables:1:chisel:planks-oak:4
        tconstruct:tooltables:1:chisel:planks-jungle:13
        tconstruct:tooltables:1:chisel:planks-oak:5
        tconstruct:tooltables:1:chisel:planks-jungle:14
        tconstruct:tooltables:1:chisel:planks-oak:10
        tconstruct:tooltables:1:chisel:planks-oak:6
        tconstruct:tooltables:1:chisel:planks-oak:7
        tconstruct:tooltables:1:chisel:planks-oak:0
        tconstruct:tooltables:1:chisel:planks-oak:1
        tconstruct:tooltables:1:chisel:planks-oak:2
        harvestcraft:pamradishCrop
        tconstruct:tooltables:1:chisel:planks-oak:3
        forge:bucketFilled:tin;
        tconstruct:tooltables:1:chisel:planks-oak:13
        opencomputers:component:18
        tconstruct:tooltables:1:chisel:planks-jungle:10
        tconstruct:tooltables:1:chisel:planks-oak:14
        tconstruct:tooltables:1:chisel:planks-jungle:11
        tconstruct:tooltables:1:chisel:planks-oak:11
        tconstruct:tooltables:1:chisel:planks-jungle:12
        tconstruct:tooltables:1:chisel:planks-oak:12
        tp:FilledWoodenBucket
        tconstruct:tooltables:2:minecraft:log2:0
        opencomputers:card:0
        tconstruct:tooltables:1:integrateddynamics:menrilPlanks:0
        roots:debugWand
        harvestcraft:pumpkincheesecake
        tconstruct:tooltables:1:chisel:planks-birch:9
        opencomputers:component:12
        tconstruct:wide_guard:0:bronze
        tconstruct:tooltables:1:chisel:planks-birch:7
        tconstruct:tooltables:1:chisel:planks-birch:8
        tconstruct:excavator_head:0:bronze
        tconstruct:tooltables:1:chisel:planks-birch:5
        tconstruct:tooltables:1:chisel:planks-birch:6
        tconstruct:tooltables:1:chisel:planks-oak:8
        tconstruct:tooltables:1:chisel:planks-birch:3
        harvestcraft:pamgrapeCrop
        tconstruct:tooltables:1:chisel:planks-oak:9
        tconstruct:tooltables:1:chisel:planks-birch:4
        tconstruct:tooltables:1:chisel:planks-birch:1
        tconstruct:tooltables:1:chisel:planks-birch:2
        minecraft:bedrock
        tconstruct:broad_axe_head:0:bronze
        excompressum:uncompressed_coal
        tp:WaterClayBucket:empty;
        harvestcraft:pineappleupsidedowncake
        harvestcraft:pammustardseedsCrop
        tconstruct:axe_head:0:bronze
        rftools:invisible_shield_block
        harvestcraft:cheesecake
        tconstruct:binding:0:bronze
        tconstruct:pickaxe
        chancecubes:reward_Selector_Pendant
        bloodmagic:ItemSacrificialDagger:1
        tconstruct:tooltables:2:integrateddynamics:menrilLogFilled:0
        tconstruct:shard:0:bronze
        randomthings:spectreKey
        opencomputers:material:23
        opencomputers:material:26
        tconstruct:tooltables:1:natura:nether_planks:2
        tconstruct:tooltables:1:natura:nether_planks:3
        opencomputers:material:20
        tconstruct:tooltables:1:natura:nether_planks:0
        minecraft:sign
        tconstruct:tooltables:1:natura:nether_planks:1
        tconstruct:tooltables:1:chisel:planks-acacia:9
        bigreactors:reactorcreativecoolantport:0
        tconstruct:tooltables:1:chisel:planks-acacia:7
        tconstruct:tooltables:1:chisel:planks-acacia:8
        moreshears:woodenShears
        tconstruct:scythe_head:0:bronze
        tconstruct:arrow_head:0:bronze
        hatchery:feather_meal
        harvestcraft:pambarleyCrop
        minecraft:command_block_minecart
        harvestcraft:pambroccoliCrop
        hammercore:infi_rf
        solarfluxreborn:wire_3
        hatchery:tank_upgrade
        notenoughwands:protection_wand
        tconstruct:toolforge:0:chisel:blockBronze:0
        draconicevolution:draconium_capacitor:2
        tp:QuartzKnife
        tconstruct:knife_blade:0:bronze
        hatchery:speed_upgrade
        ceramics:clay_bucket:bronze;
        randomthings:creativePlayerInterface
        minecraft:spawn_egg
        harvestcraft:pamwaterchestnutCrop
        refinedstorage:wireless_grid:1
        minecraft:command_block
        roots:plankWildwoodSlab
        tconstruct:tooltables:2:natura:nether_logs2:15
        harvestcraft:pamasparagusCrop
        extrautils2:PassiveGenerator:6
        harvestcraft:pamgingerCrop
        extrautils2:creativechest
        forge:bucketFilled:bronze;
        notenoughwands:freezing_wand
        enderio:blockBuffer:3
        mysticalagriculture:prudentium_furnace_active
        bloodmagic:ItemAltarMaker
        tconstruct:tooltables:2:natura:nether_logs:0
        tconstruct:tooltables:2:natura:redwood_logs:0
        harvestcraft:holidaycake
        rftools:notick_solid_shield_block
        tconstruct:tooltables:2:natura:nether_logs:2
        tconstruct:longsword
        tconstruct:tooltables:2:natura:nether_logs:1
        harvestcraft:pamoatsCrop
        rftools:notick_camo_shield_block
        tconstruct:large_plate:0:bronze
        rftools:powercell_creative
        harvestcraft:pamblueberryCrop
        tconstruct:tooltables:2:natura:redwood_logs:2
        tconstruct:tooltables:2:natura:redwood_logs:1
        engineersworkshop:upgrade:15
        harvestcraft:pamturnipCrop
        tp:FiredClayBucket:empty;
     >
}


